# Ignore (generated) documentation 
latex/

# Ignore CMake-related files
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# Igonre compiled binary
SAAPFramework

# Log file from framework
SAAP.log
*.json

# Ignore databases
*.db

# Ignore db and unit tests
cppUnit/
recursive_trace/

# Merge backup files
*.orig

# Whatever .txt file to check the output
*.txt
