# Ignore (generated) documentation 
latex/

# Ignore CMake-related files
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# Igonre compiled binary
SAAPFramework

# Log file from framework
SAAP.log

# Ignore databases
*.db

# Ignore db and unit tests
cppUnit/
